<div class="banner-wthree-info container main-sec">
    <div class="row">
        <div class="col-lg-5 banner-left-info">
            <h3>The Largest Range <span>of HandBags</span></h3>
            <a href="/shop" class="btn shop">Shop Now</a>
        </div>

        <div class="col-lg-7 banner-img">
            <img src="images/bag.png" alt="part image" class="img-fluid">
        </div>
    </div>
</div>