<!DOCTYPE html>
<html>

<head>
    <title>Baggage Ecommerce</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="keywords"
        content="Baggage Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- //Meta tag Keywords -->
    <!-- Custom-Files -->
    <link rel="stylesheet" href="/css/bootstrap.css">
    <!-- Bootstrap-Core-CSS -->
    <link rel="stylesheet" href="/css/style.css" type="text/css" media="all" />
    <!-- Style-CSS -->
    <!-- font-awesome-icons -->
    <link href="/css/font-awesome.css" rel="stylesheet">
    <!-- //font-awesome-icons -->
    <!-- /Fonts -->
    <link href="//fonts.googleapis.com/css?family=Hind:300,400,500,600,700" rel="stylesheet">
    <!-- //Fonts -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</head>
<body>
    <div class="main-sec inner-page">
        <!-- //header -->
        <header class="py-sm-3 pt-3 pb-2" id="home">
            <div class="container">
                <!-- nav -->
                <div class="top-w3pvt d-flex">
                    <div id="logo">
                        <h1> <a href="/home"><span class="log-w3pvt">B</span>aggage</a> <label
                                class="sub-des">Online Store</label></h1>
                    </div>

                    <div class="forms ml-auto">
                        {{#if user}}
                            <div class="dropdown">
                                <img src="{{user.avatar}}" class="user-avatar">
                                <a href='#' class="username">{{user.username}}</a>
                                <div class="dropdown-content">
                                    <a href="/setting">My Setting</a>
                                    <a href="/collection">My Collection</a>
                                    <a href="/logout">Log Out</a>
                                </div>                                
                            </div>
                        {{else}}
                            <a href="/signin" class="btn"><span class="fa fa-user-circle-o"></span> Sign In</a>
                            <a href="/signup" class="btn"><span class="fa fa-pencil-square-o"></span> Sign Up</a>
                        {{/if}}
                    </div>
                </div>
                <div class="nav-top-wthree">
                    <nav>
                        <label for="drop" class="toggle"><span class="fa fa-bars"></span></label>
                        <input type="checkbox" id="drop" />
                        <ul class="menu">
                            <li class="active"><a href="/home">Home</a></li>
                            <li><a href="/shop">Shop</a></li>                            
                            <li><a href="/contact">Contact</a></li>
                            <li><a href="#">About Us</a></li>
                        </ul>
                    </nav>
                    <!-- //nav -->
                    <div class="search-form ml-auto">
                        <div class="form-w3layouts-grid">
                            <form action="/shop/search" method="get" class="newsletter" >
                                <input class="search" type="search" placeholder="Search here..." required="" id="searchInput" name="searchStr">
                                <button class="form-control btn" value="" id="searchForm"><span class="fa fa-search"></span></button>
                            </form>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </header>
        <!-- //header -->

        <!--/banner-->
        {{#if haveBanner}}
        {{> banner}}
        {{/if}}
        <!--//banner-->
    </div>

    {{{body}}}

    {{> footer}}

</body>
</html> 
