<div class="container py-md-5">
    <div class="row contact_information">
        <div class="col-md-6">
            <img src="{{user.avatar}}" id="previewImg" style="width: 80%">
        </div>
        <div class="col-md-6">
            <div class="contact_right p-lg-5 p-4">
                <form action="/update-profile" method="post" enctype="multipart/form-data">
                    <div class="field-group">
                        <label>
                            <input type='file' name='file' id="avatar" accept='image/*' style="display: none"
                                onchange='return previewFile(this);' />
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17">
                                <path
                                    d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z" />
                            </svg>
                            <span>Upload avatar&hellip;</span>
                        </label>

                    </div>
                    <div class="field-group">
                        <span>Email</span>
                        <div class="content-input-field">
                            <input name="email" id="email" type="email" value="{{user.email}}" placeholder=""
                                required="">
                        </div>
                    </div>
                    <div class="field-group">
                        <span>Phone</span>
                        <div class="content-input-field">
                            <input name="phone" id="phone" type="text" value="{{user.phone}}" placeholder=""
                                required="">
                        </div>
                    </div>
                    <div class="field-group" , id="save-btn">
                    </div>

                </form>
            </div>
        </div>

    </div>
</div>
<h1>{{msgError}}</h1>
<script>
    function previewFile(input) {
        var file = $("input[type=file]").get(0).files[0];
        var pattern = /image-*/;

        if (file && file.type.match(pattern)) {
            var reader = new FileReader();

            reader.onload = function () {
                $("#previewImg").attr("src", reader.result);
            }

            reader.readAsDataURL(file);
            return true;
        } else {
            alert('Only allowed to upload image!!!');
            return false;
        }

    }

    var somethingChanged = false;
    $('#email').keyup(function () {
        somethingChanged = true;
        renderBtn();
    });
    $('#phone').keyup(function () {
        somethingChanged = true;
        renderBtn();
    });
    $('#avatar').change(function () {
        somethingChanged = true;
        renderBtn();
    });

    function renderBtn() {
        if (somethingChanged)
            $('#save-btn').html('<button type="submit" class="btn-save-change">save change</button>');
    }
    renderBtn();




</script>