
<div class="container py-md-5">
<div class="row contact_information">
    <div class="col-md-6">
        <img src="/images/users/default.png">
    </div>
    <div class="col-md-6">
        <div class="contact_right p-lg-5 p-4">
            <form action="#" method="post">
                <div class="field-group">
                    <span>Email</span>
                    <div class="content-input-field">
                        <input name="email" id="text1" type="email" value="" placeholder="qssfshdf@gmail.com"
                            required="">
                    </div>
                </div>
                <div class="field-group">
                    <span>Phone</span>
                    <div class="content-input-field">
                        <input name="phone" id="text2" type="text" value="" placeholder="0324323" required="">
                    </div>
                </div>
                <div class="content-input-field">
                    <button type="submit" class="btn-save-change">save change</button>
                </div>

            </form>
        </div>
    </div>
    
</div>
</div>